@mixin flexBoxRow {
    display: flex;
    flex-direction: row;
}
@mixin border {
    border: 1px solid rgb(20, 20, 20);

}

@mixin headerStyles {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(20, 20, 20);
    height: 64px;
    justify-content: flex-end;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
}

@mixin navigation() {
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

@mixin flexBoxColumn() {
    display: flex;
    flex-direction: column;
}

@mixin font() {
    font-family: monospace;
}

@mixin h1() {
    font-size: 32px;
}

@mixin flexBoxCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textColor() {
    color: rgb(20, 20, 20);
}

@mixin button(){
    border: none;
    padding: 8px;
    border-radius: 8px;
    height: 32px;
    font-size: 16px;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 145, 220);
    cursor: pointer;
}

body {
    @include font();
    @include flexBoxColumn();
    @include textColor();
    margin:0px;
    overflow-y: scroll;
    

}

header {
    @include headerStyles();
    nav {
        @include flexBoxCenter();
        width: 128px;
        height: 100%;
        

        a {
            @include navigation();
        }
    }
    .logo{
        margin-right: auto;
        font-size: 2em;
    }
    .logo:hover{
        cursor: pointer;
    }
    nav:not(.logo):hover {
        background-color: rgb(20, 20, 20);
        color: rgb(250, 250, 250);
        cursor: pointer;
    }
}

.hero {
    @include flexBoxCenter();
    flex-direction: column;
    
    

    @include h1();
    height: 192px;

    h1 {
        @include flexBoxCenter();
        height: 100%;
        
    }

}
.blackLine {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 1px;
}
.blogs {
    h2{
        @include flexBoxCenter();
        width: 128px;
        height: 96px;
        font-size: 2em;
    }
    
}
button{
    @include button();
    margin: 16px 16px 16px 16px;
}

.blogsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 128px;
    justify-content: center;
    

    .post{
        width: 512px;
        padding: 8px;
        margin-right: 16px;
        margin-bottom: 16px;
        @include border();
        
        .postTitle {
            font-size: 32px;
        }

        form{
            display: flex;
            flex-direction: column;

            textarea{
                resize: none;
                min-height: 128px;
            }
        }
    }
}
.about {
    h2 {
        @include flexBoxCenter();
        
        height: 96px;
        font-size: 2em;
    }
    p {
        @include flexBoxCenter();
    }
}
.deleteBtn {
    background-color: rgb(255, 90, 90);
}