@mixin flexBoxCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexBoxColumns() {
    display: flex;
    flex-direction: column;
}
@mixin flexBoxRows() {
    display: flex;
    flex-direction: row;
}
@mixin button(){
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: 16px;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 145, 220);
    cursor: pointer;
}
body{
    @include flexBoxCenter();
    height: 100vh;
    margin: 0px;
    font-family: monospace;
    color: rgb(20, 20, 20);
    
}
.container{
    @include flexBoxColumns();
    width: 256px;
    padding: 32px 128px 32px 128px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 32px;
    box-shadow: 32px 32px;
}
.right{
    border-radius: 32px;
    padding: 16px;
    margin-bottom: 32px;
    background-color: rgb(20, 20, 20);
    color: rgb(250, 250, 250);
    padding-left: 32px;
}
form{
    @include flexBoxColumns();
    
        input:not(:last-child){
        margin-bottom: 16px;
        font-size: 16px;
        border-radius: 8px;
    }
    label{
        margin-bottom: 8px;
    }
    input {
        font-family: monospace;
        padding: 8px;
    }
    .submitButton {
        @include button();
    }
    div {
        @include flexBoxRows();
        color: rgb(20, 20, 20);
        a{
            @include flexBoxCenter();
            text-decoration: none;
            color: rgb(50, 145, 220);
            
        }
        .registerText {
            margin-left: 5px;
        }
        .sendBack{
            cursor: pointer;
            margin-right: 5px;
        }
    }

}
textarea {
    resize: none;
}
#title {
    margin-bottom: 16px;
}
#content {
    height: 256px;
    margin-bottom: 16px;
}